.container {
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--bgSoft);
  display: flex;
  gap: 20px;
  transition: background-color 200ms ease;

  &:hover {
    background-color: #212c44;
  }
}

.text {
  display: grid;
  gap: 20px;
}

.quant {
  font-size: 24px;
  font-weight: 500;
}

.detail {
  font-size: 14px;
  font-weight: 300;
}

.positive {
  color: lime;
}

.negative {
  color: red;
}
