.container {
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--bgSoft);
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addButton {
  padding: 12px;
  background-color: #5d57c9;
  color: var(--text);
  border: none;
  border-radius: 4px;
  transition: background-color 200ms ease;

  &:hover {
    background-color: #7b75e7;
  }
  &:active {
    background-color: #5d57c9;
  }
}

.table {
  width: 100%;

  td {
    padding: 12px;
  }
}

.user {
  display: flex;
  align-items: center;
  gap: 12px;

  img {
    border-radius: 50%;
  }
}

.button {
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  color: var(--text);
  transition: filter 200ms ease;
  &:hover {
    filter: brightness(0.8);
  }
  &:active {
    filter: brightness(1);
  }
}

.view {
  margin-right: 12px;
  background-color: teal;
}

.delete {
  background-color: crimson;
}
